<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css')}}">
</head>
<body>
    <h1>Enter the phone number for which the information is required</h1>
    <form name="passdata" action="." method="post"> 
        <label> Number </label> 
        <input type="text" name="nu" >
        <input type="submit" value="submit"> 
    </form> 
    
</body>
</html>
<!-- , render_template('index.html') -->